<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/styles/styles.css">
  <title>welcome</title>
</head>
<body style="background-image:url(/assets/bg_4.JPG) ;">
  <div class="container">
    <form action="#">
      <h1><%= typeof alert !== 'undefined' ? alert : '' %></h1>
      <h4><%= typeof message !== 'undefined' ? message : '' %></h4>
      <div class="call-actions">
        <a href="/student/" class="action-btn">Home</a>
        <a href="/student/generate" class="action-ghost-btn">Generate code</a>
      </div>
    </form>
  </div>
  </div>
</body>
</html>