* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    background-image: url('/assets/bg_4.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    position: relative;
    min-height: 100vh;
    display: flex;
    padding: 50px;
    align-items: center;
    justify-content: center;
}

.container {
    background-color: white;
    width: 70vw;
    height: 65%;
    position: relative;
    max-width: 500px;
    border-radius: 6px;
    padding: 20px 40px;
    margin: 20px 15px;
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.1);
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    -ms-border-radius: 6px;
    -o-border-radius: 6px;
}

.container header::before {
    content: "";
    position: absolute;
    left: 0px;
    width: 27px;
    height: 3px;
    bottom: -2px;
    background-color: #4070f4;
    border-radius: 8px;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    -ms-border-radius: 8px;
    -o-border-radius: 8px;
}

.container header {
    font-size: 20px;
    font-weight: 600;
    color: #333;
    position: relative;
}

.container form {
    position: relative;
    height: 60vh;
    background-color: #f2f2f2;
    margin-top: 10px;

}

.container form .details {
    margin-top: 30px;
    padding-right: 20px;
    padding-left: 15px;
}

.container form .title {
    display: block;
    padding-top: 20px;
    padding-left: 15px;
    margin-bottom: 8px;
    font-size: 16px;
    font-weight: 500;
    margin: 6px 0px;
    color: #333;
}

.container form .fields {
    padding-left: 15px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}

form .fields .input-field {
    display: flex;
    flex-direction: column;
    width: calc(100% /1 - 15px);

}

.input-field input {
    height: 50px;
    margin: 5px 0px;
    outline: none;
    padding: 5px 15px;
    border: 1px solid #aaa;
    border-radius: 5px;
    font-size: 14px;
    font-weight: 400;
    color: #333;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}

.input-field label {
    margin: 8px 0px;
    font-size: 14px;
    font-weight: 500;
    color: #2e2e2e;
    padding-bottom: 3px;
}

.input-field input:is(:focus, :valid) {
    box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.13);
}

.input-field input[type="date"] {
    color: #707070;
}

.input-field input[type="date"]:valid {
    color: #333;
}

@media (max-width:750px) {

    .container {
        width: 90vw;
        height: max-content;
    }

    .container form {
        overflow-y: scroll;
    }

    .container form::-webkit-scrollbar {
        display: none;
    }

    form .fields .input-field {
        width: calc(100% /1 - 15px);
    }

    .image-wrapper {

        width: 80%;
        height: 280px;
        margin: 1rem 1rem;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .qr-code-img {
        padding-top: 1rem;
        background-repeat: no-repeat;
        background-size: cover;
        margin: 1rem 1rem;
        max-width: 500px;
        max-height: 270px;
        width: 70%;
        height: 270px;
    }
}

@media (max-width:550px) {
    form .fields .input-field {
        width: 100%;
    }

    .container {
        width: 90vw;
        height: max-content;
    }

    .image-wrapper {
        width: 80%;
        height: 300px;
        margin: 1rem 1rem;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .qr-code-img {
        padding-top: 1rem;
        background-repeat: no-repeat;
        background-size: cover;
        margin: 1rem 1rem;
        max-width: 500px;
        max-height: 280px;
        width: 70%;
        height: 280px;
    }
}

form .button {
    height: 50px;
    margin: 30px 0px;
    width: 95%;
}

form .button input {
    height: 100%;
    width: 100%;
    outline-color: none;
    color: #fff;
    border-radius: 5px;
    border: none;
    background-color: #4070f4;
    font-size: 16px;
    font-weight: 500;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}

form .button input:hover {
    background-color: rgba(64, 112, 244, 0.8);
}

a {
    padding-bottom: 10px;
    text-align: justify;
}

.image-wrapper {

    width: auto;
    height: 280px;
    margin: 2rem 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.qr-code-img {
    padding-top: 1rem;
    background-repeat: no-repeat;
    background-size: cover;
    margin: 1rem 1rem;
    max-width: 500px;
    max-height: 270px;
    width: 500px;
    height: auto;
}