
*{
    font-family: 'Manrope', sans-serif;
}

body{
    background-image: url('/assets/bg_1.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
}

header {
    color:white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    height: 90px;
    padding: 0 40px;
    font-size: .8rem;
}

h1{
    font-size: 3rem;
    font-weight: 900px;
    color: white;
    margin-bottom: 2rem;
    justify-content: center;
    align-items: center;
    width: 100%;
    text-align: center;
}

 h4{
    text-align: center;
    font-size: 1.5rem;
    font-weight: 300px;
    color: white;
    margin-bottom: 2rem;
    kerning: 10px;
    width: 100%;
    
}

.call-actions{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%; 
}

.action-btn,.action-ghost-btn{
    background-color: rgba(255, 255, 255, .3);
    border-radius: 20px;
    width: 180px ;
    height: 40px;
    justify-content: center;
    display: flex;
    color: white;
    display: flex;
    align-items: center;
    padding: 6px 15px;
    text-decoration: none;
    font-size: .9rem;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
}


.action-btn{
    background: transparent;
    color: white;
    font-size: 18px;
    font-weight: 500px;
    border: 2px solid white;
    margin-right: 20px;
}

.action-ghost-btn{
    background: transparent;
    color: white;
    font-size: 18px;
    font-weight: 500px;
    border: 2px solid white;
}

.action-ghost-btn:hover{
    background-color: rgba(64,112,244,0.8);
    border: none;
}

.action-btn:hover{
    background-color: rgba(64,112,244,0.8);
    border: none;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

.container{
    width: 100%;
    height: 50%;
    margin: auto;
    border-radius: 6px;
    padding: 30px 30px;
    box-shadow: 0px 5px 10px rgba(0,0,0,0.1);
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    -ms-border-radius: 6px;
    -o-border-radius: 6px;
    min-height: 100vh;
    align-items: center;
    justify-content: center;
    display: flex;
    position: relative;
}

.container header::before{
    content: "";
    position:absolute;
    left: 0px;
    width: 27px;
    height: 3px;
    bottom: -2px;
    background-color: #4070f4;
    border-radius: 8px;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    -ms-border-radius: 8px;
    -o-border-radius: 8px;
}

.container header{
    font-size: 20px;
    font-weight: 600;
    color: #333;
    position: relative;
}

.container form .details{
    margin-top: 30px;
    padding-right: 20px;
    padding-left: 15px;
} 

 .input-field input:is(:focus, :valid){
    box-shadow: 0px 3px 6px rgba(0, 0, 0,0.13);
 }

 .input-field input[type="date"]{
    color:#707070;
 }

 .input-field input[type="date"]:valid{
    color:#333;
 }

 @media (max-width:750px) {
    .container{
        height: 50vh;
        width: fit-content;
    }

    .action-btn{
        background: transparent;
        color: white;
        font-weight: 500px;
        border: 2px solid white;
        margin-left: 20px;
    }

    .container form::-webkit-scrollbar{
        display: none;
    }

    form .fields .input-field{
        width: calc(100% /2 - 15px);
     }

     .call-actions{
        display: flex;
        flex-direction: column;
        gap: 1rem;
        align-items: center;
        justify-content: center;
     }
 }

 @media (max-width:550px){
    .container{
        height: 50vh;
        width: fit-content;
    }

    .action-btn{
        background: transparent;
        color: white;
        font-weight: 500px;
        border: 2px solid white;
        margin-left: 20px;
    }

    form .fields .input-field{
        width:100%;
     }

     .call-actions{
        display: flex;
        flex-direction: column;
        gap: 1rem;
        align-items: center;
        justify-content: center;
     }
 }


